body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
}
.bckgrcolor{
    font-size: 38px;
}
.col{
    font-size: 40px;
}

.colorBtn{
    padding: 0.25rem 0.5rem;
    border: 3px red solid;
    border-radius: 5px;
    color: azure;
    background: hotpink;
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
}

.colorBtn:hover{
    background: black;
}

.hexBtn{
    padding: 0.25rem 0.5rem;
    border: 3px red solid;
    border-radius: 5px;
    color: azure;
    background: hotpink;
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
}

.hexBtn:hover{
    background: black;
}